<!--
  Copyright (C) 2015-2016 longri.de

  Licensed under the : GNU General Public License (GPL);
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.gnu.org/licenses/gpl.html

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.longri.watchface.common">

    <application android:allowBackup="true" android:label="@string/app_name">

    </application>

</manifest>
